.editor-styles-wrapper .wp-block-twst-login {

	p {
		margin: 0;
	}

	.login-username,
	.login-password {
		label {
			display: block;

			/* Placeholders, when not focused should be visible */
			&:not(:focus) > span:after {
				opacity: 1;
			}
		}

		input[type="text"],
		input[type="password"] {
			padding: 0.5rem 0.5rem;
			width: 80%;
		}
	}

	/* We're stealing the block styling, but we don't want uppercase forced on */
	div.wp-block-button__link {
		text-transform: inherit;
	}
}
